.grey {
    background-color: rgba(60, 60, 60, 1);
}

.highlighted {
    background-color: rgba(200, 220, 220, .8);
}

.main_title {
    font-size: 40px;
    text-decoration-style: solid;
}

.sub_title {
    font-size: 30px;
    text-decoration-style: solid;
}

.sub_explanation {
    font-size: 20px;
}
